.nav {
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 5rem;
  padding: 8px 28px;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  background: var(--white);
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-container img {
  width: 109.379px;
  height: 40px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.link {
  font-family: gennorm;
  font-size: 15px;
  color: var(--black);
  text-decoration: none;
}

.arrow {
  font-size: 12px;
  color: #333;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user .btn {
  border-radius: 100px;
  border: 0;
  padding: 8px 16px;
  font-family: gennorm;
  font-size: 16px;
}

.sign {
  background: var(--success);
  color: var(--fresh);
}

@media (max-width: 768px) {
  .nav {
    padding: 8px;
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    margin-bottom: 1rem;
  }

  .nav-items {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .link {
    margin: 0.5rem 0;
  }

  .user {
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }
}

.nav-background {
  right: 20%;
  position: absolute;
  height: 100px;
  width: 8%;
  background-color: rgb(129, 128, 135);
}
