.footer {
  background-color: var(--b);
  color: var(--w);

  padding: 3rem;

  max-height: fit-content;
  position: relative;

  width: 100%;
}

.upper-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
}

.firstPart {
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;

  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  margin-bottom: 2rem;
  align-items: flex-start;
}
.footer-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-nav {
  margin-left: 20px;
}

.firstPart .footer-logo img {
  margin-right: 20px;
  height: 50px;
  width: 100px;
}

.firstPart .footer-icons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.firstPart .footer-icons img {
  margin-bottom: 10px;
}

.secondPart {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.secondPart .footer-social-icons {
  display: flex;
  align-items: center;
}

.secondPart .footer-social-icons img {
  margin-right: 10px;
  padding: 5px;
}
.iconss {
  margin-left: 10px;
  padding: 10px;
  font-size: 1.2rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-left: 5rem;
}

.footer-nav h4 {
  font-size: 16px;
  margin-bottom: 10px;
  white-space: nowrap;
  margin-bottom: 10px;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
}

.footer-nav ul li {
  margin-bottom: 5px;
}

.footer-nav ul li a {
  color: var(--w);
  text-decoration: none;
}

.horizontal-line {
  border-top: 1px solid #555;
}

.lower-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.copyright {
  font-size: 14px;
}
.part2 {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 0;
}
.part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  font-family: genlight;
  letter-spacing: 1px;
  line-height: 3px;
  padding: 10px;
}

.footer-logoo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  font-family: genlight;
  letter-spacing: 1px;
  position: absolute;
  bottom: 3px;
  right: 20px;
}
.footer-logoo img {
  width: 80px;
}
.footer-logoo .lin {
  height: 30px;
  margin-left: 4px;
  width: 3px;
  background: linear-gradient(to bottom, #000000, #ffffff, red, green, green);
}
.footer-logoo .te p {
  font-size: 0.5rem;
  margin-left: 5px;
}
